.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-basis: 10%;
  margin: 0 auto 25px;
}

.title {
  font-size: 1.5rem;
  color: #fffffe;
}

.nav a {
  padding: 5px 0;
  color: #a7a9be;
  transition: all 0.3s ease-in-out;
}

.nav a:hover {
  color: #ff8906;
}
