.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.text {
  text-align: center;
  color: #111111;
}

@media (max-width: 553px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}
