.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.text {
  text-align: center;
  color: #111111;
}

@media screen and (max-width: 425px) {
  .content {
    flex-direction: column;
  }
}
