.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  grid-gap: 10%;
  gap: 20%;
  height: 10vh;
  padding-right: 45px;
}

.Footer_footer__317iK a:first-child {
  border-top: 1px solid #282828;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .footer {
    align-items: center;
    padding-right: 0;
  }
}
