.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
  gap: 5%;
  height: 30vh;
  color: #111111;
}

.title {
  padding: 0;
  margin: 0;
}

.text {
  padding: 0;
  margin: 0;
  width: 50%;
  line-height: 2rem;
}

@media (max-width: 962px) {
  .text {
    width: 70%;
  }
}

@media (max-width: 553px) {
  .header {
    height: 40vh;
  }
}

@media (max-width: 360px) {
  .header {
    height: 60vh;
  }
}

@media (max-width: 320px) {
  .header {
    height: 70vh;
  }
}
