.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  height: auto;
  color: #a7a9be;
  background-color: #0f0e17;
}

.title {
  padding: 0;
  margin: 0;
}

.text {
  padding: 0 0 15px;
  margin: 0;
  width: 50%;
  line-height: 2rem;
}

@media screen and (max-width: 1024px) {
  .text {
    width: 85%;
  }
}
