.highlightsList {
  width: 100%;
}

.title {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  color: #a7a9be;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.item {
  padding-bottom: 25px;
  color: #a7a9be;
}

.button {
  margin-right: 15px;
  background-color: #ff8906;
  border: 1px solid #ff8906;
  border-radius: 2px;
  color: #0f0e17;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  color: #ff8906;
  background-color: #0f0e17;
}
