.navbar {
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #0f0e17;
}

.title {
  color: #fffffe;
}
