.navbar {
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.title {
  color: #111111;
}

@media (max-width: 320px) {
  .title {
    text-align: center;
  }
}
